.gitignore
pyglet.*.log
*.orig
.DS_Store
doc/api
doc/internal/build.rst
doc/internal/blacklist.rst
website/dist
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
develop-eggs
sdist
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
